{{#if messages.error}}
    <div class="alert alert-danger">{{messages.error}}</div>
{{/if}}
{{#if messages.info}}
    <div class="alert alert-info">{{messages.info}}</div>
{{/if}}
{{#if messages.success}}
    <div class="alert alert-success">{{messages.success}}</div>
{{/if}}