<div class="footer">
    <div class="ui basic segment">
        <p class="centered">
            Copyright © 2015-2016 SoundHound Inc. <br/>
            <small class="muted">3979 Freedom Cir, Suite 400, Santa Clara, CA 95054. All rights reserved.</small>
        </p>
    </div>
</div>
