{{setTitle "Soundhound Scaffolding homepage"}}
<div class="ui vertical masthead center aligned segment">
  <div class="ui text container">
        <h1 class="ui header">
            Soundhound scaffolding base project.
        </h1>
    <div class="ui container-wrapper tablet computer only">
        <div class="ui container">
            <div class="ui centered relaxed stackable four column grid">
                <div class="tablet only computer only row">
                    <div class="left aligned column">
                        <h3 class="ui header">Backend stack</h3>
                        <ul>
                            <li>Sailsjs</li>
                            <li>Grunt</li>
                        </ul>
                    </div>
                    <div class="left aligned column">
                        <h3 class="ui header">Frontend stack</h3>
                        <ul>
                            <li>React</li>
                            <li>SemanticUI</li>
                            <li>Flux</li>
                            <li>Nuclearjs</li>
                        </ul>
                    </div>
                    <div class="left aligned column">
                        <h3 class="ui header">Testing</h3>
                        <ul>
                            <li>Mocha</li>
                            <li>Chai</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>