<div class="ui vertical inverted menu left fixed my-sidebar">
    <h2 class="ui item block top attached"> Sidebar </h2>
    <a class="item {{#if isIndex}} active {{/if}}" href="/">Homepage</a>
    <a class="item {{#if isExample}} active {{/if}}" href="/example">Example Module</a>
</div>
