<!DOCTYPE html>
<html lang="en">
    <head>
        {{> meta}}
        {{> style}}
    </head>

    <body lang="en">
        <div class="wrapper">
            {{{body}}}
        </div>
        {{> scripts}}
    </body>

</html>