<div class="ui main container">
    <div class="ui centered basic very padded segment">
    <img src="/images/warning.png" width="128" alt="404 Page Not Found" class="ui centered image">
                <h1 class="ui header">403 
                    <div class="sub header">Whoops, you're not allowed to do that!</div>
                </h1>
                <p>
                    Sorry, but the action that you took was rejected by our web server.
                </p>
    </div>

</div>