<div class="ui main container">
    <div class="ui centered basic very padded segment">
    <img src="/images/warning.png" width="128" alt="404 Page Not Found" class="ui centered image">
                <h1 class="ui header">404 
                    <div class="sub header">Page not found</div>
                </h1>
                <p>
                    Oh no, we can’t find the page that you're looking for. 
                </p>
    </div>

</div>