<div class="ui main container">
    <div class="ui centered basic very padded segment">
    <img src="/images/cloud-error.png" width="128" alt="500 Server Error" class="ui centered image">
        <h1 class="ui header">500 
            <div class="sub header">Web Server Error</div>
        </h1>
        <p>
            Oh no, the server encountered an error while trying to process your last click. We are looking into it.
        </p>
    </div>
</div>

