<div class="jumbotron">
    <h1>Node Boilerplate</h1>
    <p>
        Node Boilerplate has been set up successfully. You can now customize this app to your needs.
    <p>
        <a class="btn btn-lg btn-primary" href="https://github.com/tilomitra/node-boilerplate/" role="button">View GitHub Readme &raquo;</a>
    </p>
</div>