<div class="jumbotron">
    <h1>Bedrock</h1>
    <p>
        Bedrock has been set up successfully. You can now customize this app to your needs.
    <p>
        <a class="pure-button pure-button-primary" href="http://tilomitra.github.io/bedrock/" role="button">Go to Bedrock's Site &raquo;</a>
    </p>
</div>