<div class="jumbotron">
    <h1>Bedrock <small>A minimalist boilerplate for Express apps</small></h1>
    <p>
        Bedrock has been set up successfully. You can now customize this app to your needs. To learn how to do this, you should read <a href="http://tilomitra.github.io/bedrock/">Bedrock's Documentation.
    </p>
        <a class="btn pure-button" href="http://tilomitra.github.io/bedrock/" role="button">View Bedrock's Documentation &raquo;</a>
    </p>
</div>