
<div class="ui inverted black menu">
    <div class="header item">
        Bedrock
      </div>
    <div class="right menu">
        <a class="ui item" href="/logout">Logout</a>    
    </div>
</div>
<h2 class="ui header">
    Congratulations! Bedrock is installed.
    <div class="sub header">
        If you are reading this, Bedrock successfully set up authetication for your project, 
        and you are now logged in. 
    </div>
</h2>

<div class="ui divider"></div>

<h3 class="ui header">
    Hello, React + Flux + React Router
    <div class="sub header">
        In addition to authentication, Bedrock sets you up with React + Flux all powered by React Router. 
    </div>
</h3>

<p>Everything below this text is rendered using React.</p>
<div id="main"></div>