<div class="footer">
    <div class="l-inner">
        <div class="pure-g">
            <div class="pure-u-1-2">
                <img src="https://pbs.twimg.com/profile_images/529721134107734016/19rKbZoX_400x400.png" class="footer-avatar" width="16" height="16">
                <a href="http://twitter.com/tilomitra">Made by Tilo</a>
            </div>
            <div class="pure-u-1-2 t-right">
                <span class="t-muted">Built on shoulders of giants. MIT Licensed.</span>
            </div>
        </div>
    </div>
</div>