@import "variables";

html, body {
    /* Set your content font stack here: */
    font-size: 16px;
    line-height: 1.5em;
    min-height: 100vh;
    background-color: $light-grey;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #485864;
    overflow-wrap: break-word;
    -webkit-font-smoothing: antialiased;
}

.invisible {
    visibility: hidden !important;
}

.ui.menu {
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.wrapper,
#applications-wrapper,
.frontend-container,
.ui.main.container {
    min-height: 100vh;
}

.frontend-container.no.height {
    min-height: inherit;
}

.ui.footer {
  border-radius: 0;
}
.ui.main.container {
    padding: 20px 0 40px 0;
    background-color: white;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    margin: 0 auto;
}

.react-notice-container {
    position: fixed;
    top: 10%;
    left: 8%;
    z-index: 9999;
}

// Boilerplate
@import "utilities";
@import "footer";

// Components
@import "header";
@import "home";
@import "semantic-overrides";
