$bgcolor: #fff;
$accentColor: #12b143;

$accentDark1: darken($accentColor, 5%);
$accentDark2: darken($accentColor, 10%);
$accentDark3: darken($accentColor, 20%);
$accentDark4: darken($accentColor, 30%);
$accentDark5: darken($accentColor, 40%);

$accentLight1: lighten($accentColor, 5%);
$accentLight2: lighten($accentColor, 10%);
$accentLight3: lighten($accentColor, 20%);
$accentLight4: lighten($accentColor, 30%);
$accentLight5: lighten($accentColor, 40%);

.pk-wrapper {
    background: $bgcolor !important;
    padding: 2em;
}

// base
.pk-mission {
    text-align: center;
}
.pk-mission {
    .title {
        color: $accentColor;
        font-weight: bold;
        font-size: 4em;
    }
    .subtitle {
        color: $accentDark3 !important;
        font-weight: bold;
    }
}

//header
.pk-header {
    color: $accentColor !important;
    font-weight: bold !important;
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
.pk-header:before,
.pk-header:after {
    background-color: #eee;
    content: '\a0';
    flex-grow: 1;
    height: 1px;
    position: relative;
    top: 0.5em;
}
.pk-header:before {
    margin-right: 1em;
}
.pk-header:after {
    margin-left: 1em;
}
//gallery
.pk-milestone,
.pk-achievement,
.pk-gallery-item img {
    border-radius: 4px;
}

.pk-achievement {
    padding: 2em 1em;
}

.pk-milestone,
.pk-achievement {
    border: 1px solid #ddd;
    transition: all .2s cubic-bezier(.68, -.55, .265, 1.55);

    &:hover {
        border-color: $accentLight4;
    }
}

.pk-gallery-item img:hover {
    transform: scale(1.05);
    box-shadow: 0 1px 3em rgba(0, 0, 0, 0.2);
}

.pk-achievement-heading,
.pk-milestone-heading {
    color: $accentColor;
}

.pk-team {
    border-radius: 4px;
    box-shadow: none !important;
    border: 1px solid #ddd;
}
