{{setTitle "Login"}}
<div class="ui container" style="margin-top: 100px;">
    <div class="ui center aligned grid">
        <div class="doubling two column row">
            <div class="left aligned column">
                <div class="ui very padded left aligned segment">
                    {{> flash}}

                    <h1 class="ui header">
                        Welcome
                        <div class="sub header">Login to your account</div>
                    </h1>

                    <div class="ui divider"></div>
                    <form id="form-signin" class="form-signin ui form" role="form" method="POST" action="/auth/local">
                        <div class="field">
                            <label for="identifier">Email or Username</label>
                            <input type="text" name="identifier" placeholder="username" required autofocus>
                        </div>
                        <div class="field">
                            <label for="password">Password</label>
                            <input type="password" name="password" placeholder="Password" required>
                        </div>
                        <input type="hidden" name="_csrf" value="{{_csrf}}">
                        <button class="ui primary button" type="submit">Login</button>
                        <div class="ui section divider"></div>
                        <p>
                            <small><a href="/forgot">Forgot your password?</a></small> <br/>
                            <small>Don't have an account? <a href="/signup">Sign up</a>.</small>
                        </p>
                    </form>

                    {{#each providers}}
                        <a href="/auth/{{slug}}">{{name}}</a>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>