<div id="main">
    <div style="text-align: center; padding: 40px">
        <img style="display: block; margin: 0 auto; text-align: center;" src="images/cat/skipping.png" class="image" width="128"
            height="auto" />
        <div class="loader" style="margin: 0 auto;"></div>
        <span style="font-size: 0.85em; color: #666;">Loading Press Kitty. This will only take a few seconds...</span>
    </div>
</div>

<div id="__storeName" style="opacity: 0; width: 0; height: 0;">https://{{storeName}}</div>