{{setTitle "Signup"}}

<div class="ui container" style="margin-top: 100px;">
    <div class="ui center aligned grid">
        <div class="doubling two column row">
            <div class="left aligned column">
                <div class="ui very padded left aligned segment">
                    {{> flash}}

                    <h1 class="ui header">
                        Signup
                        <div class="sub header">Create a new account.</div>
                    </h1>

                    <div class="ui divider"></div>
                    <form class="ui form form-signin" role="form" method="POST" action="/auth/local/register">
                        <div class="field">
                            <label for="username">Username</label>
                            <input type="text" name="username" placeholder="Pick a username"  required autofocus>
                        </div>

                        <div class="field">
                            <label for="email">Email Address</label>
                            <input type="email" name="email" placeholder="johnsmith@me.com"  required autofocus>
                        </div>
                        <div class="field">
                            <div class="two fields">
                                <div class="field">
                                    <label for="password">Password</label>
                                    <input type="password" name="password" placeholder="Password" required pattern=".{8,}" title="Minimum 8 Characters required">
                                </div>
                                <div class="field">
                                    <label for="password">Confirm Password</label>
                                    <input type="password" name="confirmPassword" placeholder="Password" required pattern=".{8,}" title="Minimum 8 Characters required">
                                </div>
                            </div>
                        </div>

                        <input type="hidden" name="_csrf" value="{{_csrf}}">
                        <button class="ui primary button" type="submit">Sign up</button>
                    </form>
                    <div class="ui section divider"></div>
                    <p class="text-right">
                        <small>Already have an account? <a href="/login">Login instead</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

